<h3>Customers</h3>
<form [formGroup]="customerSearch" (ngSubmit)="onSubmit()" class="form-inline mb-4">
  <label class="sr-only" for="search">Search</label>
  <div class="input-group mb-2 mr-sm-2">
    <input type="text"  class="form-control" (keyup)="onKey($event)" formControlName="search" placeholder="search" [ngClass]="{ 'is-invalid': submitted && f.search.errors }">
  </div>
  <button  class="btn btn-primary mb-2">Search Customers</button>
</form>





<div  *ngIf="error$ | async as error" class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Oh shit!</strong> <a href="#" class="alert-link">{{error.toString()}}</a>
</div>
<table class="table table-hover">
  <thead>
  <tr class="table-primary">
    <th scope="col">Name</th>
    <th scope="col">Phone</th>
    <th scope="col">Address</th>
    <th scope="col">Membership</th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  <tr>
  <tr *ngFor="let customer of (customers$ |async) | paginate:config">
    <th scope="row">{{customer.name}}</th>
    <td>{{customer.phone}}</td>
    <td>{{customer.address}}</td>
    <td>{{customer.membership}}</td>
    <th>
      <button class="btn btn-primary" style="margin-right: 10px;width: 60px;" (click)=updateCustomer(customer)>edit</button>
      <button class="btn btn-danger"  style="margin-right: 10px;width: 60px;"  (click)=deleteCustomer(customer)>delete</button>
    </th>
  </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
